.profile-picture-frame {
    color: rgba(255, 255, 255, 0.541);
    display: flex;
    justify-content: center; 
    position: relative; 
    overflow: hidden;
    border-radius: 50%;
    background-color: black;
}

.profile-picture {
    width: 100%;
    margin: auto;
    display: block;
}
